.edit-profile-page {
   position: relative;
   background-color: #f7f7fc;
   display: flex;
   align-items: center;
   flex-direction: column;
   z-index: 8;
}

/* EDIT USER PROFILE MAIN SECTION */
.edit-user__main {
   position: relative;
   z-index: 2;
}

.edit-user__main-title {
   display: block;
   color: #f7f7fc;
   font-size: 3.8em;
   font-weight: 600;
   z-index: 100;
}

@media screen and (max-width: 840px) {
   .edit-user__main-title {
      color: #1c2294;
   }
}

.edit-user__span {
   color: #1c2294;
}

.edit-user__banner {
   display: flex;
   flex-wrap: wrap;
   background-color: #dfd7ef;
   width: 100%;
   height: auto;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

/* EDIT USER PROFILE FORM SECTION */
.user-profile-form {
   display: flex;
   position: relative;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   background: #fff;
   width: 100%;
   max-width: 640px;
   padding: 40px 20px 40px 20px;
   margin: 40px 0 24px 0;
   border-radius: 1rem;
   font-family: "Poppins", sans-serif;
   border: 2px solid transparent;
   box-shadow: 0px 20px 10px -15px rgb(180, 174, 174);
   z-index: 100;
}
.profile-form-group {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 4px;
   width: 100%;
   margin-bottom: 0.5em;
}

@media screen and (max-width: 840px) {
   .profile-form-group {
      flex-direction: column;
      align-items: flex-start;
   }
}

.select-menu {
   width: 18em;
}
.select-container {
   display: inline-flex;
   flex-direction: row;
}

#languagesDropDown,
#typesDropDown,
#skillsDropDown {
   justify-content: space-start;
   background-color: #ebebeb;
   padding: 0.5em 1.2em;
   width: 18em;
   height: 2.5em;
   box-sizing: border-box;
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   border: none;
   border-radius: 8px;
   color: rgb(39, 39, 39);
   outline: none;
}
.profile-form__input,
.profile-form__input-bio,
.profile-form__select {
   background-color: #ebebeb;
   padding: 0.5em 1.2em;
   width: 18em;
   height: 2.5em;
   margin: 0;
   box-sizing: border-box;
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   border: none;
   border-radius: 8px;
   color: rgb(39, 39, 39);
   outline: none;
   overflow-wrap: break-word;
   word-wrap: break-word;
}
.profile-form__select {
   padding: 0.5em 1.2em;
   width: 18em;
   height: 2.5em;
}
.profile-form__input-bio {
   justify-items: flex-start;
   overflow: hidden;
   height: 10em;
   padding: 2em;
}

.form-control-ms:focus {
   border: 1px solid transparent;
}

.selected-tags {
   padding-left: 15px;
}
.bg-pill-hyf {
   background-color: #2f195f;
   margin: 5px 3px 0 0;
}

.dropdown-menu {
   width: 100%;
   outline: none;
}
select {
   -webkit-appearance: none;
   -moz-appearance: menulist-button;
   appearance: menulist;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-position: right center;
   background-color: #ebebeb;
   border-radius: 8px;
   color: rgb(39, 39, 39);
   border: none;
}

.profile-form__label {
   color: #000000;
   display: block;
   width: 110px;
   font-size: 0.9em;
   text-transform: capitalize;
   letter-spacing: 0.1em;
}

.profile-form__input-bio {
   padding: 0.5em 1.2em;
   height: 10em;
}
input,
select:focus {
   outline: none;
}
.profile-form_btn-right {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   width: 100%;
}
.profile-form__btn-submit {
   display: inline-flex;
   background: #2f195f;
   justify-content: center;
   font-family: "Montserrat", sans-serif;
   cursor: pointer;
   width: 9em;
   color: #fff;
   padding: 0.6em;
   margin: 12px 0 0 0;
   border-radius: 20px;
   font-weight: 500;
   border: 2px solid transparent;
}
.profile-form__btn-submit:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.profile-form__input-warning {
   color: #b52055;
   margin-top: 10px;
   font-size: 0.8em;
   font-weight: bold;
}
