/* header section */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
}
.nav-bar a {
  color: #1c2294;
  padding: 12px;
  font-size: 22px;
  display: inline;
  font-family: "Montserrat";
  text-decoration: none;
}
.username {
  color: #1c2294;
  padding: 12px;
  font-size: 18px;
  display: inline;
  font-family: "Montserrat";
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 2px #2f195f solid;
}
.sign-in-btn {
  padding: 12px 24px;
  background-color: #2f195f;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
}
.sign-in-btn:hover {
  background-color: #dfd7ef;
}
.sign-in-btn:hover:active {
  background-color: #fff;
  border: #2f195f;
}
.sign-out-btn {
  padding: 12px 24px;
  background-color: #b52055;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
}

.sign-out-btn:hover {
  background-color: #dfd7ef;
}
.sign-out-btn:hover:active {
  background-color: #fff;
  border: #2f195f;
}

button.navbar-toggler {
  height: 30px;
  width: 36px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}

.header-menu-burger {
  display: none;
}

.header-burger_line {
  width: 100%;
  height: 2px;
  background-color: #1c2294;
  position: absolute;
  left: 0;
}

.header-burger_line_first {
  top: 0;
}

.header-burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.header-burger_line_third {
  bottom: 0;
}

.header-burger-close {
  z-index: 11;
  position: absolute;
  right: 40px;
  top: 20px;
}

.header-menu-close-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1c2294;
  position: absolute;
  top: 50%;
}

.header-menu-close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.header-menu-close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.header-menu-vertical {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 250px;
  background-color: #f1f1f1;
  z-index: 1000;
}

@media screen and (max-width: 960px) {
  .header-menu-burger {
   display: block;
   position: relative;
   height: 30px;
   width: 36px;
  }

  .header-menu-horizontal,
  .header-menu-avatar {
    display: none;
  }
}

.burger-link {
   font-size: 20px;
   color: #1c2294;
   font-weight: bold;
   padding: 3px;
   margin-top:10px;
   font-family: "Montserrat";
   text-decoration: none;
}