.main {
   background: rgba(223, 215, 239, 1);
   padding: 180px 0;
   -webkit-transform: skew(58deg, 316deg);
   -moz-transform: skew(58deg, 316deg);
   -ms-transform: skew(58deg, 316deg);
   -o-transform: skew(58deg, 316deg);
   transform: skew(58deg, 316deg);
   margin-top: -200px;
   
}



.login-form__title {
   color: #2f195f;
   font-size: 2opx;
   text-align: center;
}

.login-form-container {
   max-width: 520px;
   margin: 60px auto;
   font-family: "Poppins", sans-serif;
   background: #f7f7fc;
   text-align: left;
   padding: 40px;
   border-radius: 10px;
   font-weight: bold;
   position: relative;
}

.login-form__label {
   color: rgba(131, 131, 131, 1);
   display: block;
   margin: 18px 0 15px;
   font-size: 0.6em;
   text-transform: capitalize;
   letter-spacing: 1px;
   font-weight: bold;
   
}
.login-form__label-signup{
   color: rgba(131, 131, 131, 1);
   display: block;
   margin: 18px 0 auto;
   font-size: 0.6em;
   text-transform: capitalize;
   letter-spacing: 1px;
   font-weight: bold;
   text-align: center;
}

.login-form__input {
   display: block;
   padding: 10px 6px;
   width: 95%;
   box-sizing: border-box;
   border: none;
   border-radius: 20px;
   border: 1px solid rgb(0, 0, 0);
   color: #555;
   outline: none;
}



.login-form__label-terms {
   display: inline-block;
   padding: 10px 6px;
   margin: 25px 0 15px;
   font-size: 0.8em;
   font-weight: 500;
}


.login-form__btn-submit {
   background: #2f195f;
   align-items: center;
   width: 80%;
   align-content: center;
   color: #fff;
   padding: 10px 20px;
   margin: 20px auto;
   border-radius: 20px;
   font-weight: bold;
   border: 2px solid transparent;
   display: flex;
   justify-content: center;

}
.login-form__btn-submit:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.login-form__input-warning {
   color: #b52055;
   margin-top: 10px;
   font-size: 0.8em;
   font-weight: bold;
}
.login-form__btn-signup {
   background: #B52055;
   align-items: center;
   width: 80%;
   text-align: center;
   color: #fff;
   padding: 10px 20px;
   margin: 20px auto;
   border-radius: 20px;
   font-weight: bold;
   border: 2px solid transparent;
   display: flex;
   justify-content: center;

}
.login-form__btn-signup:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}