.members-banner {
  background-color: #2f195f;
  display:flex;
  width:100%;
  height: 20vw;
}
.members-banner__image{
  width: 60%;
  margin: -30px;
  padding-left: 20px;
  padding-top: 50px;

}
.members-banner__header-h3{
  font-size: 20px;
  width:100%;
  padding-left:10px;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  margin-top:5vw;
}
.members-banner__header-h2{
  font-size: 30px;
  width: 100%;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  margin-top:0.4vw;
}


.members-form__select {
  display:flex;
  justify-content: flex-end;
  margin-top: 5vh;
  width: 80%;
  margin:20px auto 20px auto;
}
.members-form__select--options {
  width: 120px;
  margin-left: 10px;
  background: #dfd7ef;
  border: none;
  border-radius: 4px;
}



.members-ticket {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  margin-top:15px;
}
.members-ticket__card {
  display: flex;
  height: auto;
  width: 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin:20px auto 0 auto;
  background-color:#ffffff;
}
.members-ticket__card-img {
  width: 75px;
  height: 75px;
  margin: 15px;
}
.members-ticket__card-content {
  width: 400px;
  font-family: "Poppins", sans-serif;
  margin:15px 0;
}
.members-ticket__card-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 15px 15px 180px;
  width: 30%;
}
.members-ticket__card-content--name {
  color: #1c2294;
  font-weight: 600;
  font-size: 14px;
}
.members-ticket__card-content--title {
  color: black;
  font-weight: 600;
  font-size: 12px;
  margin-top:-15px
}
.members-ticket__card-img--member {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.members-ticket__card-icon {
  height: 50px;
}
.members-ticket nav {
  margin: 20px auto;
}
.members-ticket a {
  margin: auto 10px;
  color: rgba(28, 34, 148, 1);
}

@media screen and (max-width: 600px) {
  .members-ticket__card {
    width:95%;
  }
  .members-ticket__card-icons {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .members-ticket__card-icon {
    height: 35px;
  }
}


.members-pagination {
  list-style-type: none;
  color: rgba(28, 34, 148, 1);
  justify-self: center;
}
.members-pagination--item {
  display: inline-block;
  margin: 10px;
}
.members-pagination--item__btn {
  color: rgba(28, 34, 148, 1);
  border: none;
}
.members-pagination--item :hover {
  border-bottom: solid 1px rgba(28, 34, 148, 1);
}