.project__component--container {
    display: grid;
    gap: 1rem;

    grid-template-areas: "thumbnail description"
    "thumbnail description";
}

.project__thumbnail {
    grid-area: thumbnail;
}

.project__description {
    grid-area: description;
    background-color: #f5f3f3;
    width:75vw;
    padding: 10px 20px 0 20px;
    font-family: Poppins, sans-serif;
    font-size: 1vw;  
}
