.container__submit, #action_button{
    background-color: #2f195f;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat";
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 20px;
    width: 130px;
    margin-left: 225px;
    margin-bottom: 1px;
    
  }