h2 {
   color: #2f195f;
   font-size: 1em;
   text-align: center;
}

.sign-up-form {
   max-width: 500px;
   margin: 50px auto;
   background: #f7f7fc;
   text-align: left;
   padding: 40px;
   border-radius: 10px;
   font-weight: bold;
}

.register-label {
   color: #2f195f;
   display: inline-block;
   margin: 25px 0 15px;
   font-size: 0.8em;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: bold;
}

input {
   display: block;
   padding: 10px 6px;
   width: 100%;
   box-sizing: border-box;
   border: none;
   border-radius: 20px;
   border-bottom: 1px solid #ddd;
   color: #555;
   outline: none;
}

input[type="checkbox"] {
   color: rgb(36, 35, 35);
   display: inline-block;
   background-color: #2f195f;
   width: 16px;
   margin: 0px 10px 0 0;
   position: relative;
   top: 2px;
}

.terms-label {
   display: inline-block;
   margin: 25px 0 15px;
   font-size: 0.8em;
   font-weight: 500;
}

.btn-submit {
   background: #2f195f;
   align-items: center;
   width: 210px;
   text-align: center;
   color: #fff;
   padding: 10px 20px;
   margin: 20px 0 0 100px;
   border-radius: 20px;
   font-weight: bold;
   border: 2px solid transparent;
}
.btn-submit:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.warning {
   color: #b52055;
   margin-top: 10px;
   font-size: 0.8em;
   font-weight: bold;
}
