/* ****  general css  **** */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   color: #2f195f;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   height: 70px;
}
.nav-bar a {
   color: #1c2294;
   padding: 12px;
   font-size: 24px;
   display: inline;
   font-family: "Montserrat";
}

.nav-bar a:hover {
   border-bottom: 2px #2f195f solid;
}
.sign-in-btn {
   padding: 12px 24px;
   background-color: #2f195f;
   border-radius: 20px;
   color: #fff;
   font-weight: 500;
   font-size: 14px;
   font-family: "Montserrat";
}
.sign-in-btn:hover {
   background-color: #dfd7ef;
}
.sign-in-btn:hover:active {
   background-color: #fff;
   border: #2f195f;
}
@media screen and (max-width: 500px) {
   .nav-bar a {
      float: none;
      display: block;
      text-align: left;
   }
   .sign-in-btn {
      float: none;
   }
}

/* header section */

.header-container {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;

}
.nav-bar a  {
  color:#1C2294;
  padding: 12px;
  font-size: 24px;
  display: inline;
  font-family: 'Montserrat';
=======
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   height: 70px;
}
.nav-bar a {
   color: #1c2294;
   padding: 12px;
   font-size: 24px;
   display: inline;
   font-family: "Montserrat";
>>>>>>> ac881f24e175d0e85212641e03e377fa5c2c410c
}
.nav-bar a {
   text-decoration: none;
}

.nav-bar a:hover {
   border-bottom: 2px #2f195f solid;
}
.sign-in-btn {
   padding: 12px 24px;
   background-color: #2f195f;
   border-radius: 20px;
   color: #fff;
   font-weight: 500;
   font-size: 14px;
   font-family: "Montserrat";
   text-decoration: none;
}
.sign-in-btn:hover {
   background-color: #dfd7ef;
}
.sign-in-btn:hover:active {
   background-color: #fff;
   border: #2f195f;
}
@media screen and (max-width: 500px) {
   .nav-bar a {
      float: none;
      display: block;
      text-align: left;
   }
   .sign-in-btn {
      float: none;
   }
}

/* ****  banner-section  **** */

.banner {
   background-color: #dfd7ef;
   height: 500px;
   display: flex;
}

.banner__left {
   margin-left: 20px;
}

.banner__left--image {
   width: 550px;
}

.banner__right {
   margin-right: 36px;
   text-align: center;
}

.banner__right--title {
   font-size: 48px;
   margin-top: 100px;
   color: #2f195f;
}

.banner__right--paragraph {
   color: #ffffff;
   font-size: 24px;
   margin-top: 25px;
   margin-bottom: 100px;
}

.banner__join-btn {
   text-decoration: none;
   padding: 20px 50px;
   width: 120px;
   height: 50px;
   border-radius: 25px;
   background-color: #2f195f;
   color: #fff;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
   font-size: 12px;
   margin-top: 100px;
}

.banner__join-btn:hover {
   background-color: #3f01c4;
   color: #fff;
}

.banner__join-btn:active {
   background-color: #2f195f;
   color: #fff;
}

/* *****  benefits-section  *****/

.benefit {
   display: flex;
   padding: 50px;
   background-color: #b9b9b9;
   height: 500px;
}

.benefit__card {
   background-color: #879fbe;
}

.benefit__card--avatar {
   width: 150px;
   height: 150px;
   background-color: #a3d895;
}

.benefit__card--content {
   width: 200px;
   height: 150px;
   background-color: #c770ad;
}

/* SIGN-UP PAGE */

.sign-up-page {
   background-color: #f7f7fc;
   display: flex;
   position: relative;
   flex-direction: row;
   justify-content: space-between;
   font-family: "Poppins", sans-serif;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   height: 100vh;
   width: auto;
   z-index: 1;
}
/* SIGN-UP FORM SECTION */

.sign-up-form {
   max-width: 520px;
   order: 2;
   margin: 60px auto;
   font-family: "Poppins", sans-serif;
   background: #f7f7fc;
   text-align: left;
   padding: 40px;
   border-radius: 10px;
   font-weight: 500;
}

.form__label {
   color: #2f195f;
   display: inline-block;
   margin: 18px 0 15px;
   font-size: 0.8em;
   text-transform: capitalize;
   letter-spacing: 0.1em;
   font-weight: bold;
}

.form__input {
   display: block;
   padding: 10px 6px;
   width: 95%;
   box-sizing: border-box;
   border: none;
   border-radius: 20px;
   border-bottom: 1px solid #ddd;
   color: #555;
   outline: none;
}

input[type="checkbox"] {
   color: rgb(36, 35, 35);
   display: inline-block;
   background-color: #2f195f;
   width: 16px;
   margin: 0px 10px 0 0;
   position: relative;
   top: 2px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
   padding-left: 20px;
}

.form__label-terms {
   display: inline-block;
   margin: 25px 0 15px;
   font-size: 0.8em;
   font-weight: 500;
}

.form__btn-submit {
   background: #2f195f;
   align-items: center;
   width: 210px;
   text-align: center;
   color: #fff;
   padding: 10px 20px;
   margin: 20px 0 0 100px;
   border-radius: 20px;
   font-weight: bold;
   border: 2px solid transparent;
}
.form__btn-submit:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.form__input-warning {
   color: #b52055;
   margin-top: 10px;
   font-size: 0.8em;
   font-weight: bold;
}
.form__title {
   color: #2f195f;
   font-size: 1.8em;
   text-align: center;
   font-weight: 500;
}

/* SIGN-UP MAIN SECTION */

.main__trapezoid {
   order: 1;
   position: relative;
   text-align: center;
   border-left: 48vw solid #dfd7ef;
   border-top: 10vw solid transparent;
   border-bottom: 10vw solid transparent;
   width: 0;
   height: 54vw;
   z-index: 1;
}

.main__text-box {
   font-family: "Poppins", sans-serif;
   position: absolute;
   text-align: left;
   padding-top: 3vw;
   left: 10vw;
   color: #1c2294;
   font-size: 3.7em;
   font-weight: 600;
   line-height: 1.3em;
   z-index: 1;
}

.main__text-left {
   padding-left: 3vw;
}
