@import url("avatar.css");
@import url("header.css");
@import url("footer.css");
@import url("homepage.css");
@import url("members.css");


/* ****  general css  **** */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   color: #1c2294;
}



.container__textarea {
   border: none;
}
