/* ****  general css  **** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1c2294;
}

/* header section */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
}
.nav-bar a {
  color: #1c2294;
  padding: 12px;
  font-size: 24px;
  display: inline;
  font-family: "Montserrat";
  text-decoration: none;
}
.username {
  color: #1c2294;
  padding: 12px;
  font-size: 18px;
  display: inline;
  font-family: "Montserrat";
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 2px #2f195f solid;
}
.sign-in-btn {
  padding: 12px 24px;
  background-color: #2f195f;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
}
.sign-in-btn:hover {
  background-color: #dfd7ef;
}
.sign-in-btn:hover:active {
  background-color: #fff;
  border: #2f195f;
}
.sign-out-btn {
  padding: 12px 24px;
  background-color: #b52055;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat";
  text-decoration: none;
}

.sign-out-btn:hover {
  background-color: #dfd7ef;
}
.sign-out-btn:hover:active {
  background-color: #fff;
  border: #2f195f;
}

@media screen and (max-width: 500px) {
  .nav-bar a {
    float: none;
    display: block;
    text-align: left;
  }
  .sign-in-btn {
    float: none;
  }
}

/* ****  banner-section  **** */

.banner {
  background-color: #dfd7ef;
  height: 500px;
  display: flex;
}

.banner__left {
  margin-left: 20px;
}

.banner__left--image {
  width: 550px;
}

.banner__right {
  margin-right: 36px;
  text-align: center;
}

.banner__right--title {
  font-family: Poppins;
  font-weight: bolder;
  font-size: 42px;
  margin-top: 100px;
  color: #1c2294;
}

.banner__right--paragraph {
  font-family: Poppins;
  color: #ffffff;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.banner__join-btn {
  text-decoration: none;
  padding: 20px 50px;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: #2f195f;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 100px;
}

.banner__join-btn:hover {
  background-color: #3f01c4;
  color: #fff;
}

.banner__join-btn:active {
  background-color: #2f195f;
  color: #fff;
}

/* *****  benefits-section  *****/

.benefit-section {
  background-color: #ffffff;
}

.benefit__title {
  text-align: center;
  color: #1c2294;
  padding-top: 2rem;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 38px;
}

.benefit__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.benefit__card {
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.benefit__card--avatar > img {
  height: 250px;
  object-fit: contain;
}

.benefit__card--content {
  color: #1c2294;
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
}

/* *****  testimonial-section  *****/

.testimonial__section {
  background-color: #ffffff;
  text-align: center;
}

.testimonial__title {
  text-align: center;
  color: #1c2294;
  padding: 2rem;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 38px;
  margin: 30px 0;
}

.testimonial__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  background-color: transparent;
  gap: 40px;
}

.testimonial__card {
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #2f195f;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 100px;
}

.testimonial__quotes > img {
  width: 80px;
  margin-top: 20px;
  margin-right: 240px;
  object-fit: contain;
}

.testimonial__card--content {
  margin-top: 20px;
  color: #000000;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  padding: 30px;
}

.testimonial__avatar > img {
  width: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
  object-fit: contain;
}

.testimonial__background {
  background-color: #dfd7ef;
  height: 600px;
  margin-top: -450px;
}

.members__link-btn {
  text-decoration: none;
  padding: 20px 30px;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: #2f195f;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.members__link-btn:hover {
  background-color: #1c2294;
  color: #ffffff;
}

/* SIGN-UP PAGE */

.sign-up-page {
  background-color: #f7f7fc;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: auto;
  z-index: 1;
}

/* SIGN-UP FORM SECTION */

.sign-up-form {
  max-width: 520px;
  order: 2;
  margin: 60px auto;
  font-family: "Poppins", sans-serif;
  background: #f7f7fc;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
  font-weight: 500;
}

.form__label {
  color: #2f195f;
  display: inline-block;
  margin: 18px 0 15px;
  font-size: 0.8em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.form__input {
  display: block;
  padding: 10px 6px;
  width: 95%;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid #ddd;
  color: #555;
  outline: none;
}

input[type="checkbox"] {
  color: rgb(36, 35, 35);
  display: inline-block;
  background-color: #2f195f;
  width: 16px;
  margin: 0px 10px 0 0;
  position: relative;
  top: 2px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 20px;
}

.form__label-terms {
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.8em;
  font-weight: 500;
}

.form__btn-submit {
  background: #2f195f;
  align-items: center;
  width: 210px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin: 20px 0 0 100px;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid transparent;
}
.form__btn-submit:hover {
  background-color: #fff;
  color: #2f195f;
  border-color: #2f195f;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.form__input-warning {
  color: #b52055;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.form__title {
  color: #2f195f;
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
}

/* SIGN-UP MAIN SECTION */

.main__trapezoid {
  order: 1;
  position: relative;
  text-align: center;
  border-left: 48vw solid #dfd7ef;
  border-top: 10vw solid transparent;
  border-bottom: 10vw solid transparent;
  width: 0;
  height: 54vw;
  z-index: 1;
}

.main__text-box {
  font-family: "Poppins", sans-serif;
  position: absolute;
  text-align: left;
  padding-top: 3vw;
  left: 10vw;
  color: #1c2294;
  font-size: 3.7em;
  font-weight: 600;
  line-height: 1.3em;
  z-index: 1;
}

.main__text-left {
  padding-left: 3vw;
}


/* *****  footer section  *****/


#footer{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: auto;
  height: auto;
  background: #2F195F;
}

.footer_pp{
  color:#ffffff;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  top: auto;
}

.hyf_ico{
  margin-left: 2.5em;
  margin-bottom: 0em;
  margin-top: -9em;
}

.footer_connect{
  color:#ffffff;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 200;
  margin-top: 5em;
  margin-right: 0em;
  margin-left: 1em;
  margin-bottom: 0em;
  display: flex;
}

.link_ico{
  display: inline-block;
  display: inline;
  margin-left: 1.1em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.footer_code{
  color:#ffffff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0em;
  margin-right: 2em;
  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
}

/* *****  contact us  *****/

div.container-contact-us-page{
  margin: auto;
}

.container-contact-us-page{
  position: relative;
  width: 1200px;
  padding: 0;
  border: 0;
}

.section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
}

.contact-form{
  margin-bottom: 0;
}

form{
  margin-bottom: 20px;
}

button, input, select, textarea, label{
  touch-action: manipulation;
}

div.section{
  margin: 10px;
}

.contact__text, .row{
  zoom: 1;
}
.contact__text{
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: 39.9px;

  position: absolute;
  top: 5%;
  left: 28%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
  white-space: pre;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

.contact__text1, .contact__text3{
  color: #1C2294;
}

.contact__text2, .contact__text4{
  color: #ffffff;
}

.contact__text5{
  color: #1c2294;
  font-size: 50px;
  position: absolute;
  left: 147px;
  top: 59.19px;
  display: flex;
  align-items: center;
}

.rectangle{
  position: absolute;
  width: 1279px;
  left: -40px;
  top: 0;
}

.container-contact-us-page.image2{
  width: 730px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;  
}

.img{
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;

}