.profile-page {
   background-color: #f7f7fc;
   display: flex;
   flex-direction: column;
   z-index: 8;
}

/* EDIT USER PROFILE MAIN SECTION */
.profile-user__main {
   display: flex;
   justify-content: space-evenly;
   position: relative;
   z-index: 2;
}

<<<<<<< HEAD
=======

@media screen and (max-width:1100px){
   .profile-user__main {
      color: #1c2294;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
}


>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
.profile__main-arrow-right {
   position: absolute;
   top:0;
   right: 0;
   width: 0;
   height: 0;
   border-top: 39vw solid #dfd7ef;
   border-left: 85vw solid transparent;
   z-index: 2;
}
.profile__main-arrow-left {
   position: absolute;
   top:0;
   left: 0;
   width: 0;
   height: 0;
   border-top: 20vw solid #dfd7ef;
   border-right: 45vw solid transparent;
   z-index: 3;
}

.outer-area {
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   height: 255px;
   border-radius: 5px;
   margin-top: 3.5%;
   flex-direction: column;
   z-index: 100;
}


.profile-user__main-title {
   display: block;
   color: #f7f7fc;
   width: 36%;
   padding-top: 4%;
   font-size: 3.7em;
   font-weight: 600;
   line-height:1.5em;
   z-index: 100;
}
<<<<<<< HEAD
.profile-user__span {
   color: #1c2294;
   width:300px;
}
=======

>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
@media screen and (max-width:1100px){
   .profile-user__main-title {
      color: #1c2294;
      font-size: 3.3em;
      line-height:1.2em;
   }
   .user-about-me--title {
      font-size: 26px;
   }
}
<<<<<<< HEAD
=======

.profile-user__span {
   color: #1c2294;
   width:300px;
}

>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
/* EDIT USER PROFILE FORM SECTION */
.user-profile-form {
   display: block;
   width:100%;
   position: relative;
   font-family: "Poppins", sans-serif;
   padding: 40px 0 40px 0;
   border-radius: 1rem;
   font-weight: 600;
   border: 2px solid transparent;
   box-shadow: 5px 5px 5px rgb(180, 174, 174);
   z-index: 100;
}
#languagesDropDown,
#typesDropDown,
#skillsDropDown {
   display: flex;
   background-color: #ebebeb;
   padding: 0.5em 1.2em;
   width: 100%;
   height: 3em;
   margin-right: 62px;
   border-radius: 20px;
   border-bottom: 1px solid #ddd;
   color: rgb(39, 39, 39);
   outline: none;
}
.bg-pill-hyf {
   background-color: #2f195f;
   margin: 5px 3px 0 0;
}
.dropdown-menu {
   width: 100%;
   outline: none;
}
.profile-form-group {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-items: center;
   width: 85%;
   padding: 10px 0;
}
.profile-form__label {
   color: #000000;
   display: inline-flex;
   justify-items: flex-start;
   width: 110px;
   margin: 7px 0;
   padding: 8px 0 8px 0;
   font-size: 0.9em;
   text-transform: capitalize;
   letter-spacing: 0.1em;
}
.profile-form-list {
   width: 65%;
   display: inline-flex;
   justify-content: space-evenly;
   margin-right: 35%;
}
.profile-form__input,
.profile-form__input-bio,
.profile-form__select {
   display: inline-flex;
   background-color: #ebebeb;
   padding: 0.5em 1.2em;
   width: 65%;
   height: 3em;
   box-sizing: border-box;
   border: none;
   border-radius: 20px;
   border-bottom: 1px solid #ddd;
   color: rgb(39, 39, 39);
   outline: none;
   overflow-wrap: break-word;
   word-wrap: break-word;
}
.profile-form-group > a {
   color: brown;
   font-size: 0.75em;
}
.pills {
   padding-left: 15px;
   width: 65%;
   height: 3em;
   word-break: break-all;
}
.profile-form__select {
   width: 45%;
   position: relative;
}
.profile-form__select option {
   padding: 0.5em;
}
.profile-form__input-bio {
   padding: 0.5em 1.2em;
   height: 10em;
}
input,
select:focus {
   outline: none;
}
.profile-form_btn-right {
   display: flex;
   flex-direction: row;
   align-content: flex-end;
   width: 150px;
   margin-left: 58%;
}
.profile-form__btn-submit {
   display: inline-flex;
   background: #2f195f;
   justify-content: center;
   width: 180px;
   color: #fff;
   padding: 10px 20px;
   margin: 12px 0 0 0;
   border-radius: 20px;
   font-weight: bold;
   border: 2px solid transparent;
}
.profile-form__btn-submit:hover {
   background-color: #fff;
   color: #2f195f;
   border-color: #2f195f;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.profile-form__input-warning {
   color: #b52055;
   margin-top: 10px;
   font-size: 0.8em;
   font-weight: bold;
}
.profile-image-jobTitle {
   color: #2f195f;
   font-size: 1.1rem;
   margin-top: 20px;
}
.user-profile-row {
   padding: 0 10px 0 10px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap:40px;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 80px;
}
<<<<<<< HEAD
.column-details {
   flex: 50%;
=======

.user-profile-details {
   width: 500px;   
>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
}
.user-profile-about {
   width: 500px;   
}
.user-about-me-box {
   background-color: #2f195f;
   z-index: 5;
   width: 100%;
   padding: 20px;
   position: relative;
   color: white;
   min-height: 285px;
   border-radius: 1rem;
   outline: none;
   overflow-wrap: break-word;
   word-wrap: break-word;
}
<<<<<<< HEAD
@media screen and (max-width:924px){
   .user-about-me-box {
      width: 100%;
      margin: 520px auto 0 auto;
   }
   .user-profile-form {
      width: 100%;
      margin: 200px auto 0 auto;
   }
   .profile-user__main-title {
      font-size: 2.5em;
      line-height: 1.2em;
      margin-top: 275px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
      color: #1c2294;
   }
}
=======

>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
.profile-detail-line {
   padding-left: 30px;
   padding-bottom: 20px;
}
.profile-detail-line > i {
   padding-right: 30px;
   font-size: 1.5rem;
}
.profile-form-icons {
   width: 100%;
   justify-content: space-evenly;
   display: flex;
   cursor: pointer;
   font-size: 1.5rem;
}
.profile-form-icons > i:hover {
   color: #dfd7ef;
   width: 100%;
}
.user-profile-projects {
   width: 100%;
   margin: 30px auto 60px auto;
}
.user-profile-projects-title {
   color: rgba(47, 25, 95, 1);
   width: 88%;
   margin-left: 3.2em;
   padding-bottom: 0.5em;
}
.user-profile-skills-title {
   color: rgba(47, 25, 95, 1);
   width: 88%;
   margin-left: 3.2em;
   padding-bottom: 0.5em;
}
.user-profile-projects-cards {
   box-shadow: 7px 7px 5px rgb(185, 183, 183);
   width: 88%;
   margin-left: 7em;
   display: block;
   min-height: 100px;
   border-radius: 1rem;
   background: white;
   padding: 10px;
}
.user-profile-skills {
   box-shadow: 7px 7px 5px rgb(185, 183, 183);
   width: 85%;
   min-height: 100px;
   border-radius: 1rem;
   background: white;
   margin: auto;
   padding: 17px;
   display: flex;
   justify-content: space-evenly;
}
.user-profile-skill {
   height: 80px;
}
.profile-details-separator {
   margin-right: 20px;
   margin-left: 20px;
}
<<<<<<< HEAD
.outer-area {
   border: none;
   height: 255px;
   width: 255px;
   border-radius: 5px;
   margin-left: 22%;
   margin-top: 3.5%;
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   z-index: 100;
}
@media screen and (max-width:924px){
   .outer-area {
      width:100%;
      margin:auto;
   }
}
=======



>>>>>>> e22f05615a0c47e5b6a3b2fadf10ed1f9bc040c3
.profile-picture {
   object-fit: cover;
   padding: 0.5em;
   width: 165px;
   height: 165px;
   -webkit-border-radius: 50%;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 50%;
   -moz-background-clip: padding;
   border-radius: 50%;
   background-clip: padding-box;
   float: left;
   background-size: cover;
   background-position: center;
}
.project__button a {
   text-decoration: none;
}
.projects-pagination {
   list-style-type: none;
   color: rgba(28, 34, 148, 1);
   justify-self: center;
   background-color: transparent;
   width:200px;
}
.projects-pagination--item {
   display: inline-block;
   margin: 10px;
}
.projects-pagination--item__btn {
   color: rgba(28, 34, 148, 1);
   border: none;
   background-color: transparent;
}
.projects-pagination--item :hover {
   border-bottom: solid 1px rgba(28, 34, 148, 1);
}
.projects-nav {
   margin: 20px 40%;
}

